.corpo-inicioQuizz {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SeusQuizzCriado{
    margin-top:86px;
    margin-bottom: 70px;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}
.SeusQuizzCriadoTopo{
    display: flex;
    width: 100%;
}
.SeusQuizzCriado img{
    margin-right: 10px;
    Width:335px;
    object-fit: cover;
    margin-bottom: 15px;
}

.SeusQuizzCriadoTopo>:nth-child(1){
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-right: 17px;
    padding-top: 5px;
}

.SeusQuizzCriadoTopo> :nth-child(2){
    background-color: #EC362D;
    width: 30px;
    height: 30px;
    border-radius: 500px;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.SeusQuizz {
    width: 80%;
    height: 181px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin-top: 146px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SeusQuizz>:nth-child(1) {
    color: #B9B9B9;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    width: 250px;
    display: flex;
    text-align: center;
}

.SeusQuizz>:nth-child(2) {
    width: 151px;
    height: 40px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    margin-top: 10px;
}
.TodosOsQuizz {
    width: 80%;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    flex-wrap: wrap;
}

.ImagemQuizz{
    margin-top:25px ;
    Width:32%;
    Height: 181px;
    position: relative;
    margin-right: 0.5vw;
    display: flex;
    justify-content: center;
    
}

.ImagemQuizz img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 10px;
}

.ImagemQuizz div {
    position: absolute;
    bottom: 10%;
    color:#FFFFFF;;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    font-family: 'Roboto';
}

.TodosOsQuizz>:nth-child(1){
   position: absolute;
}

@media (max-width:1100px){
    .SeusQuizz {
        width:80%;
        margin-top: 60px;
        margin-bottom: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .TodosOsQuizz {
        width: 80%;
    }
    .SeusQuizzCriado{
        display: flex;
        justify-content: center;
        width: 80%;
        margin-bottom: 35px;
        margin-top: 100px;
    }

    .ImagemQuizz{
        width: 100%;
    }
    .ImagemQuizz img{
        object-fit: cover;
    }
}