body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

.CriarQuizz {
    margin-top: 140px;
    display: flex;
    justify-content: center;
}

.CriarQuizz span {
    font-size: 23px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.Container {
    background-color: #FFFFFF;
    width: 600px;
}