body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

header h1 {
    cursor: pointer;
}

.hidden {
    display: none;
}

.CriarQuizz {
    max-width: 600px;
    margin: 140px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CriarQuizz span {
    font-size: 23px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 27px;

}

.Container {
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
}

.setup {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.Container h1 {
    font-size: 21px;
    margin: 15px 0;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.setup input {
    height: 46px;
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    outline: none;
    background-color: #FFFFFF;
    padding-left: 14px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    color: #BABABA;
}

::placeholder {
    color: #BABABA;
}

textarea {
    height: auto;
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    outline: none;
    background-color: #FFFFFF;
    padding-left: 14px;
    padding-top: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    color: #BABABA;
    font-family: 'Roboto', sans-serif;
    resize: none;
}

.botao-criar {
    display: flex;
    background-color: #EC362D;
    width: auto;
    min-width: 325px;
    height: 54px;
    border-radius: 15px;
    border: none;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 0 40px;
    color: #FFF5F4;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}


.ImagemCriarQuizz{
    margin-top:25px ;
    Width:500px;
    Height: 266px;
    position: relative;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    
}

.ImagemCriarQuizz img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 10px;
}

.ImagemCriarQuizz div {
    position: absolute;
    bottom: 10%;
    color:#FFFFFF;;
    font-weight: 400;
    font-size: 23px;
    line-height: 22px;
    font-family: 'Roboto';
}

@media (max-width: 1100px) {

.botao-criar {
    font-size: 18px;
}

.ImagemCriarQuizz{
    margin-top:25px ;
    Width: 335px;
    Height: 181px;
    position: relative;
    margin-right: 15px;
}

.ImagemCriarQuizz img{
    width: 100%;
    position: absolute;
    object-fit: cover;
}

.ImagemCriarQuizz div {
    position: absolute;
    bottom: 10%;
    left: 10%;
    color:#FFFFFF;;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
}

}

